branches:
  - main
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
      - message: '*'
        release: patch
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/git"
    - assets: false
  - "@semantic-release/github"
