branches:
  - main
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
      - message: '*'
        release: patch
      - tag: 'FEATURE'
        release: minor
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/git"
    - assets: []
  - "@semantic-release/github"
